# MTB/ModusToolbox shared libs and build artifacts
**/build/
build/
.ninja_log
.mtbqueryapi

# Build outputs
**/build/
build/

# Compiled object / binary artifacts
*.o
*.elf
*.hex
*.bin
*.map
*.d
*.lst
*.srec
*.axf

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
